<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="navigateBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-turncate"> {{notice?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="px-5">
    <ion-note>
      <h6 class="text-primary">{{notice?.title}}</h6>
    </ion-note>
    <p> {{notice?.description}}</p>
    <p class="text-primary"> {{notice?.date |date:'longDate'}}</p>
    <p class="font-size-10">{{notice?.faculty}}</p>
    <p>
      <a [href]="notice?.file" rel="nofollow" target="_blank">
        {{notice?.fileName}} &nbsp;<ion-icon name="download-outline"></ion-icon>
      </a>
    </p>


  </div>
</ion-content>
