<ion-header translucent="true" class="p-2">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment [(ngModel)]="segment" (ionChange)="updateNotice($event)">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios && !showSearchbar">Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notices</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let notice of allNotices">
    <ion-item-sliding id="item100" #slidingItem>
      <ion-item routerLink="/home/{{notice.id}}">
        <ion-avatar slot="start" *ngIf="!(notice.file)">
          <img src="./../../../assets/icon/default.png">
        </ion-avatar>
        <ion-label>
          <h2>{{notice.title}}</h2>
          <p>{{notice.description}}</p>
        </ion-label>
        <ion-note slot="end" color="primary">
          <p class="font-size-10"> {{notice.date |date:'shortDate'}}</p>
        </ion-note>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="primary" (click)="addFavorite(notice)" *ngIf="segment === 'all'">
          Favorite
        </ion-item-option>
        <ion-item-option color="danger" (click)="removeFavorite(slidingItem, notice.id)"
          *ngIf="segment === 'favorites'">
          Remove
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>


  <ion-list-header [hidden]="allNotices.length !== 0">
    <ion-col class="d-flex justify-content-center align-items-center">
      <div> No Notice Found</div>
    </ion-col>

  </ion-list-header>

</ion-content>
